* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

body {
   background-color: steelblue;
   font-family: 'Roboto', sans-serif;
}

button {
  margin-bottom: 2rem;
  margin-left:3rem;
  width: 8rem;
  height: 2rem;
}

#card-wrap {
  width:25rem;
  margin: 0 auto 0 auto;
}

#card-header {
  width:25rem;
  height:3rem;
  background-color:firebrick;
  border-bottom: 2px black solid;
  display: flex;
  flex-wrap: wrap;
}

#card-header div {
  width: 5rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#card {
  display:flex;
  flex-wrap:wrap;
  background-color:peru;
  width:25rem;
}

#card div {
  width:5rem;
  height:4rem;
  font-size:2rem;
  font-weight:bold;
  text-align:center;
  padding-top:2rem;
}

#card div.free-space {
  font-size:1rem;
}

.card-hover {
  background-color:linen;
}

.card-click {
  background-color:violet;
}


#numbers-wrap {
  display:flex;
  width:24rem;
  margin: 3rem auto 0 auto;
}

#numbers {
  display:flex;
  flex-wrap:wrap;
  background-color:black;
  width:22.5rem;
  color:darkslategrey;
  margin-bottom: 2rem;
}

#numbers div {
  width:1.5rem;
  height:1.5rem;
  font-size:1rem;
  font-weight:bold;
  text-align:center;
}

#number-header {
  width:1.5rem;
  height:7.5rem;
  background-color:black;
  display: flex;
  flex-direction: column;
}

#number-header div {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: lemonchiffon;
}

.called-number {
  color:lemonchiffon;
}

.new-number {
  color:orange;
}
